.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;

    @media only screen and (min-width: 769px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    &__item {
        background-color: $main-colour--tint;
        border-radius: 20px;
        padding: 20px;
        text-align: center;

        &:hover {
            cursor: pointer;
        }
    }
}
