.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;

    @media only screen and (min-width: 769px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    &__item {
        padding: 20px;
        text-align: center;

        &:hover {
            cursor: pointer;
        }

        &--highlight {
            background-color: $dark-main-colour--dark;
            border-radius: 10px;    
        }
    }
}
