.homescreen {
    background-color: $dark-bg-colour--darker;
    display: flex;
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;

    &__content {
        margin: auto;
        text-align: center;
        z-index: 2;
    }
}
