.pagescreen {
    display: block;
    min-height: calc(100vh - 60px);
    margin: auto;
    max-width: 1600px;
    padding: 30px;
    width: 100%;

    @media only screen and (min-width: 600px) {
        padding: 50px 100px;
    }

    @media only screen and (min-width: 1024px) {
        padding: 80px 200px;
    }

    &:last-child {
        margin-top: -60px;
    }

    &--flex {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 50px;

        @media only screen and (min-width: 769px) {
            flex-direction: row;
        }

        @media only screen and (min-width: 1201px) {
            gap: 100px;
        }
    }

    &__content {
        margin: auto;
        text-align: center;
    }

    &__highlight-box {
        background-color: $dark-main-colour;
        margin-bottom: 50px;
        padding: 30px;

        @media only screen and (min-width: 600px) {
            padding: 50px;
        }
    
        @media only screen and (min-width: 1024px) {
            padding: 80px;
        }
    }
}
