.button {
    background-color: $dark-main-colour--dark;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 5px $dark-bg-colour;
    color: $dark-text-colour;
    cursor: pointer;
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 4px auto;
    padding: 20px 15px;

    @media only screen and (min-width: 600px) {
        padding: 20px 50px;
    }

    &:hover,
    &:focus {
        background-color: $dark-main-colour;
    }

    &:active {
        background-color: $dark-main-colour--light;
    }

    &--alt {
        background-color: $alt-colour--extra-dark;

        &:hover,
        &:focus {
            background-color: $alt-colour--dark;
        }
    
        &:active {
            background-color: $alt-colour;
        }
    }

    &--shadow-extra-dark {
        box-shadow: 0px 2px 5px $dark-bg-colour--darker;
    }
}
