.button {
    background-color: $dark-main-colour--dark;
    border: none;
    border-radius: 20px;
    color: $dark-text-colour;
    cursor: pointer;
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 4px auto;
    padding: 20px 50px;

    &:hover,
    &:focus {
        background-color: $dark-main-colour;
        border: 4px solid $dark-main-colour--light;
        padding-bottom: 16px;
        padding-top: 16px;
    }

    &:active {
        background-color: $dark-main-colour--light;
    }

    &--alt {
        background-color: $alt-colour--extra-dark;

        &:hover,
        &:focus {
            background-color: $alt-colour--dark;
            border: 4px solid $alt-colour;
        }
    
        &:active {
            background-color: $alt-colour;
        }
    }
}
