.form {
    margin: auto;
    max-width: 700px;

    &__item {
        border: none;
        border-radius: 20px;
        display: block;
        margin-bottom: 20px;

        & input,
        & textarea {
            margin-top: 10px;
            width: 100%;
        }

        & input {
            height: 2rem;
        }
    }
}
