.form {
    margin: auto;
    max-width: 700px;

    &__item {
        display: block;
        margin-bottom: 30px;

        & input,
        & textarea {
            background-color: $dark-text-colour;
            border: none;
            border-radius: 10px;
            color: $dark-text-colour--dark;
            margin-top: 10px;
            padding: 10px 20px;
            width: 100%;
        }

        & input {
            height: 2.5rem;
        }
    }
}
