.form {
    margin: auto;
    max-width: 700px;

    &__item {
        border: none;
        border-radius: 20px;
        display: block;
        height: 2rem;

        & input,
        & textarea {
            margin-top: 10px;
            width: 100%;
        }
    }
}
