.circle {
    background: $dark-main-colour;    
    border-radius: 50%; 
    opacity: 0.5;
    position: absolute;

    &--lg {
        height: 150px;      
        width: 150px;

        @media only screen and (min-width: 1024px) {
            height: 350px;
            width: 350px;
        }
    }

    &--med {
        height: 75px;      
        width: 75px;

        @media only screen and (min-width: 1024px) {
            height: 175px;
            width: 175px;
        }
    }

    &--sml {
        height: 37px;      
        width: 37px;

        @media only screen and (min-width: 1024px) {
            height: 87px;
            width: 87px;
        }
    }

    &--light {
        background: $dark-main-colour--light;
    }

    &--lighter {
        background: $dark-main-colour--lighter;
    }

    &--lightest {
        background: $dark-main-colour--lightest;
    }
}
