.image {
    display: block;
    width: 100%;

    &--grey {
        filter: grayscale(50%);

        &:hover,
        &:focus {
            filter: grayscale(0);
        }
    }

    &--round {
        border-radius: 50%;
    }

    &--square {
        aspect-ratio: 1/1;
        border-radius: 10px;
    }

    &--one-third-width {
        align-self: center;
        max-width: 100%;

        @media only screen and (min-width: 769px) {
            max-width: 33%;
        }
    }

    &__icons {
        display: block;
        height: 260px;
        margin: auto;
        position: relative;
        width: 260px;

        @media only screen and (min-width: 769px) {
            height: 550px;
            width: 550px;
        }

        &--small,
        &--med,
        &--large {
            position: absolute;

            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }

        &--small {
            right: 0;
            top: 130px;

            @media only screen and (min-width: 769px) {
                left: 350px;
                top: 280px;
            }

            & .image__icons-asset {
                height: 90px;
                width: 90px;

                @media only screen and (min-width: 769px) {
                    height: 200px;
                    width: 200px;
                }
            }
        }

        &--med {
            right: 20px;

            @media only screen and (min-width: 769px) {
                left: 250px;
            }

            & .image__icons-asset {
                height: 110px;
                width: 110px;

                @media only screen and (min-width: 769px) {
                    height: 250px;
                    width: 250px;
                }
            }
        }

        &--large {
            left: 0;
            top: 80px;

            @media only screen and (min-width: 769px) {
                top: 200px;
            }

            & .image__icons-asset {
                height: 140px;
                width: 140px;

                @media only screen and (min-width: 769px) {
                    height: 300px;
                    width: 300px;
                }
            }
        }
    }
}
