.nav {
    background-color: $dark-main-colour--dark;
    box-shadow: 0px 5px 5px -5px #969696;
    height: 60px;
    overflow: hidden;
    width: 100%;
    z-index: 10;

    &__list {
        align-items: center;
        display: flex;
        height: 100%;
        margin: auto;
        max-width: 1800px;
        padding: 0 30px;
        width: 100%;
    
        @media only screen and (min-width: 600px) {
            padding: 0 100px;
        }
    
        @media only screen and (min-width: 1024px) {
            padding: 0 200px;
        }
    }

    &__item {
        border-right: 1px solid $dark-main-colour--extra-dark;

        &:first-of-type {
            border-left: 1px solid $dark-main-colour--extra-dark;
        }
    }

    &__item-link {
        color: $dark-main-colour--extra-dark;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 20px 40px;

        &:hover,
        &:focus {
            background-color: $dark-main-colour;
        }

        &:active {
            background-color: $dark-main-colour;
            color: $dark-text-colour;
        }
    }

    &--stick {
        position: fixed;
        top: 0;
        width: 100%;

        & + main {
            padding-top: 60px;
        }
    }
}
