.button {
    background-color: $main-colour;
    border: none;
    border-radius: 20px;
    color: $text-color--light;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 4px 0;
    padding: 20px 50px;

    &:hover,
    &:focus {
        background-color: $main-colour--dark;
        border: 4px solid $main-colour--extra-dark;
        margin: 0;
    }

    &:active {
        background-color: $main-colour--extra-dark;
    }
}
