$main-colour: #80b081;
$main-colour--light: #b0d1b1;
$main-colour--tint: #cfe2cf;
$main-colour--dark: #679768;
$main-colour--extra-dark: #477a48;

$alt-colour: #d57c66;
$alt-colour--light: #e1a393;
$alt-colour--tint: #eec4ba;
$alt-colour--dark: #be6751;
$alt-colour--extra-dark: #9d4d39;

$text-color: #262626;
$text-color--light: white;
