.form {
    margin: auto;
    max-width: 700px;

    &__item {
        border: none;
        border-radius: 20px;
        display: block;
        height: 2rem;

        & label {
            width: 30%;
        }

        & input {
            width: 70%;
        }
    }
}
