// Base styles
@import 'base/reset';
@import 'base/colour';
@import 'base/typography';

// Components
@import 'components/button';
@import 'components/nav';
@import 'components/form';
@import 'components/image';

// Layout styles
@import 'layout/grid';
@import 'layout/homescreen';
@import 'layout/pagescreen';

html {
    background-color: $dark-bg-colour;
    scroll-behavior: smooth;
}

.hide--mobile-tablet {
    @media only screen and (max-width: 1200px) {
        display: none;
    }
}

.hide--desktop {
    @media only screen and (min-width: 1201px) {
        display: none;
    }
}