.pagescreen {
    display: block;
    height: calc(100vh - 60px);
    max-width: 1800px;
    padding: 30px 90px;
    width: 100%;

    @media only screen and (min-width: 600px) {
        padding: 50px 160px;
    }

    @media only screen and (min-width: 1024px) {
        padding: 80px 260px;
    }

    &__content {
        margin: auto;
        text-align: center;
    }
}
