// Light theme
$main-colour: #80b081;
$main-colour--light: #b0d1b1;
$main-colour--lighter: #cfe2cf;
$main-colour--tint: #e7f8e7;
$main-colour--dark: #679768;
$main-colour--extra-dark: #477a48;

$alt-colour: #d57c66;
$alt-colour--light: #e1a393;
$alt-colour--tint: #ffe8e2;
$alt-colour--dark: #be6751;
$alt-colour--extra-dark: #9d4d39;

$bg-colour: white;
$text-colour: #262626;
$text-colour--light: white;

// Dark theme
$dark-main-colour: #1d7365;
$dark-main-colour--light: #3a9f8e;
$dark-main-colour--lighter: #64c5b4;
$dark-main-colour--lightest: #8bd6c9;
$dark-main-colour--tint: #cafff6;
$dark-main-colour--dark: #0e5549;
$dark-main-colour--extra-dark: #06362e;

$dark-bg-colour: #282828;
$dark-bg-colour--darker: #080808;
$dark-text-colour: #f8f8f8;
$dark-text-colour--dark: #262626;
